.welcome {
  position: relative;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/hand.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 600px;
}

.welcome-container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-title {
  text-align: center;
}

.intro {
  width: 100%;
  display: flex;
  background-color: rgb(31, 32, 41);
  padding: 40px;
}

.about {
  margin-bottom: 30px;
}

.video {
  padding-top: 54px;
}

.video p {
  text-align: center;
}

iframe {
  width: 560px;
  height: 315px;
}

@media only screen and (max-width: 992px) {
  iframe {
    width: 640px;
    height: 360px;
  }
}

@media only screen and (max-width: 758px) {
  iframe {
    width: 320px;
    height: 180px;
  }
}
